name: CI_build

on: [push, pull_request, workflow_dispatch]

jobs:
  build:

    runs-on: windows-2022

    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write

    steps:
    - name: Checkout repo
      uses: actions/checkout@v6

    - name: Set up Python 3.13
      uses: actions/setup-python@v6
      with:
        python-version: '3.13' # Uses the latest patch version of the given version

    - name: Install python modules
      working-directory: .
      run: python -m pip install -r requirements.txt

    - name: Validate xml of themes folder
      working-directory: .
      run: python .validators/validator_xml.py

    - uses: stefanzweifel/git-auto-commit-action@v7
      if: contains('push workflow_dispatch', github.event_name)
      with:
        commit_message: Automatically re-build themes/.toc.json
