name: CI_build

on: [push, pull_request]

jobs:
  build:

    runs-on: windows-2022

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install python modules
      working-directory: .
      run: python -m pip install -r requirements.txt

    - name: Validate xml of themes folder
      working-directory: .
      run: python .validators/validator_xml.py
